body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#app {
    text-align: center;
}

textarea {
    width: 300px;
    height: 100px;
    margin-bottom: 20px;
}

.group {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    width: 300px;
    text-align: left;
}
